.sticky-one {
  position: sticky;

  color: white;
  top: 0;
  background-color: teal;
  text-align: center;
  margin: 0;
}

.sticky-two {
  position: sticky;
  top: 0;
  background-color: aqua;
  text-align: center;
}

p {
  margin: 0;
}

.first-section {
  position: relative;
}

.sticky-two {
  margin: 0;
}

@keyframes changeBgColor {
  0% {
    background-color: teal;
  }

  50% {
    background-color: orange;
  }

  100% {
    background-color: deepskyblue;
  }
}

.first-section-paragraph:hover {
  animation-name: changeBgColor;
  animation-duration: 2500ms;
  animation-iteration-count: 3;
}
