li {
  list-style: none;
}

.item + .item {
  margin-left: 20px;
}

.item {
  display: block;
  background-color: bisque;
  outline: 1px solid #ffce91;
  padding: 5px 10px 5px 10px;

  width: 100px;
}

.head-container {
  position: relative;
  width: 1200px;
  height: 100px;
  outline: 1px solid tomato;
}

.current::after {
  position: absolute;
  bottom: 0;
  display: block;
  content: "";
  width: 100%;
  height: 8px;
  background-color: teal;
}

.list {
  display: flex;
  /* width: 300px; */
}

.current {
  display: inline-block;
  width: inherit;
}

.margin-top-container {
  margin-top: 60px;
}

.text-link {
  position: relative;

  text-decoration: none;
  /* display: inline-block; */
}

.text-link::after {
  position: absolute;

  margin-bottom: 40px;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: red;
}

.overflow-container {
  /* display: inline-block; */
  outline: 1px solid tomato;

  height: 40px;
}
