.wrap {
  width: 1200px;
  height: 100%;
  outline: 1px solid tomato;
}

.container {
  height: 460px;
  outline: 1px solid green;
  background-color: rgb(197, 195, 195);
}

.bgr-container {
  /* height: 320px; */
  min-height: 660px;

  outline: 1px solid blue;

  background-image: url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
}

.colorized-section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 180px;
  // outline: 1px solid tomato;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 480px) {
    & {
      width: 480px;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      // width: 768px;
      flex-basis: 50%;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      // width: 1200px;
      flex-basis: calc(100% / 3);
    }
  }
}

$colors: #76bce4, #b7a3bf, #bee086, #6bf86b, #46f346, #21f821;
@include colorize($colors, ".colorized-section");

.colorized-container {
  @media screen and (min-width: 768px) {
    & {
      display: flex;
      flex-wrap: wrap;
      // width: 768px;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      // width: 1200px;
    }
  }
}
