.navigation {
  display: block;
  position: absolute;

  bottom: 0;
  // top: 0;
  left: 0;
  width: 100%;
  color: #cfc2c2;

  opacity: 0.3;
  transform: translateY(0%);
  pointer-events: none;

  transition: opacity 1250ms, transform 1250ms;

  z-index: 3;
}

.navigation__list {
  margin: 0;
  width: 100%;
  // height: 100px;
  list-style: none;
  background-color: #aa5a5a;
  border: 2px solid #a52a2a;
}

.navigation__item {
  font-size: 1.4em;
}

// Mobile menu icons
.button-mobile-menu {
  //   position: absolute;
  //   top: 50%;
  //   right: 2%;
  //   transform: translateY(-50%);

  background-color: white;
  border: none;
  cursor: pointer;
  fill: rgb(0, 0, 0);

  &:hover {
  }
}
